body {
  font-family: "Open Sans", sans-serif;
  /* background-image: url("Pizza3.jpg"); */
  background-position: top;
  background-repeat:no-repeat;
  background-size: inherit;
  margin: 50px;
  
}

.banner {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.banner::before {
  background-image: url("http://elainespizza.com/facebookimages/Pizza3.jpg");
  background-size: cover;
  background-position: 0% 50%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(245, 238, 237, 0.712);
  font-weight: bold;
}

.navigation li {
  display: inline;
  border-right:2px solid rgb(95, 88, 88);
}

.navigation li {
  float: left;
}

.navigation li:last-child {
  border-right: none;
  float: right;
}

.navigation li a {
  display: block;
  color: rgb(44, 1, 1);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(161, 1, 1);
}

.active {
  background-color: #4CAF50;
}

h1 {
  height:100px;
  text-align:center;
  color:rgb(46, 44, 44);
}

.menu li {
  display: inline-block;
  border-style: solid;
  border-color: crimson;
}

.menu li {
  /* border: 5px rgb(248, 7, 7); */
  width: 200px;
  padding: 50px;
  margin: 10px;
}


.menu li img {
height: 150px;
}
